<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <style>
    body{
      padding: 50px;
    }
    input{
      margin: 20px 10px;
    }
  label{
    width: 100px;
    display: inline-block;

  }
  #comments{
      width: 300px;
  }
  img.profile-pic {
    max-width: 100px;
  }

    </style>
  </head>
  <body>
    <img src="<%= params['picture'] %>" alt="none" class="profile-pic">

      <p>Hello my name is <%= params['name']%></p>
      <p>And I am a <%=params['sex']%></p>
      <p>Professionally I'm a <%= params['occupation']%></p>
      <p>I am here looking for <%= params['lookingFor']%></p>


    <form action="//formspree.io/international.resource.help@gmail.com"
      method="POST">
     <label for="name">Name</label>
    <input type="text" name="name"><br>
    <label for="email">Email</label>
    <input type="email" name="_replyto"><br>
     <label for="_comments">Comments</label>
    <textarea name="_comments" rows="5" id="comments"></textarea><br>
    <input type="submit" value="Send"><br>
</form>
  </body>
</html>
